* text=auto !eol
/LICENSE.txt -text
/NOTICE.txt -text
/pom.xml -text
src/main/java/org/onehippo/forge/iframeprspectiv/GenericIFramePerspective.java -text
src/main/resources/org/onehippo/forge/iframeprspectiv/GenericIFramePerspective.html -text
src/main/resources/org/onehippo/forge/iframeprspectiv/GenericIFramePerspective.properties -text
src/main/resources/org/onehippo/forge/iframeprspectiv/generic-iframe-perspective-32.png -text
src/main/resources/org/onehippo/forge/iframeprspectiv/generic-iframe-perspective.css -text
src/main/resources/org/onehippo/forge/iframeprspectiv/generic-iframe-perspective.js -text
src/site/checkstyle.xml -text
src/site/resources/highlight-source-elements.js -text svneol=unset#text/plain
src/site/resources/jquery-1.7.2.min.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shAutoloader.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushAS3.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushAppleScript.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushBash.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushCSharp.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushColdFusion.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushCpp.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushCss.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushDelphi.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushDiff.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushErlang.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushGroovy.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushJScript.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushJava.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushJavaFX.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushPerl.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushPhp.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushPlain.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushPowerShell.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushPython.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushRuby.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushSass.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushScala.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushSql.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushVb.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushXml.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shCore.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shLegacy.js -text svneol=unset#text/plain
src/site/resources/sh/styles/shCore.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreDefault.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreDjango.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreEclipse.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreEmacs.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreFadeToGrey.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreMDUltra.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreMidnight.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreRDark.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeDefault.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeDjango.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeEclipse.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeEmacs.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeFadeToGrey.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeMDUltra.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeMidnight.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeRDark.css -text svneol=unset#text/plain
src/site/site.xml -text
src/site/xdoc/build-from-source.xml -text
src/site/xdoc/index.xml -text
src/site/xdoc/install.xml -text
src/site/xdoc/release-notes.xml -text
